.container {
  padding: 10px;
  /* -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3); */
}

.info-box {
  border-right: 1px solid #d3d3d3;
  padding: 30px;
}

.info-box p {
  font-size: 14px;
  margin-bottom: 0.6rem;
}

.webcam {
  border: 1px solid #d3d3d3;
}

.webcam-fixed {
  position: fixed;
  top: 0;
  z-index: 9999;
}

.btn-panel {
  height: 80px;
}

.btn-panel-btn {
  width: 100%;
}

.hidden {
  display: none;
}

.gestures-panel .row {
  margin-bottom: 10px;
  font-weight: bold;
}

.gestures-panel canvas {
  width: 224px;
  height: 224px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .9);
  z-index: 9999;
}

#spinner {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;

  position: absolute;
  top: 50%;
  left: 50%;

  border-style: double;
  border-color: #000 transparent;
  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}